* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

header {
    margin: 44px 0 144px 76px;

}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #007B79;
    border-radius: 25px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 25));
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: normal;
}

h2 {

    color: #848484;
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    border-radius: 30px;
    background: #008B8B;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 25));
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
    line-height: normal;
}

@media screen and (max-width: 900px){

main {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;

}

.logo-image {
    width: 90%;
    height: auto;
    margin: 150px auto 0 auto;
    display: block;
    }

h1 {
   
    font-size: 50px;
    margin: 30px auto;
    height: auto;
    width: auto;
    line-height: normal;
}

h2 {
    margin: auto;
    font-size: 30px;
    margin: 24px auto ;
  line-height: normal;
}

.button-main {

  
    margin: 20px auto 173px auto;
}

 header{
    display:none;
 }   

p{ 
    display: none;
}

}